/* minify reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

html {
	background-color: #e3e3e3;
	font-family: Tahoma, Geneva, sans-serif;
	color: black;
	font-size: 12px;
	width: 100%;
	padding: 0px;
	margin:0px;
}


/* header */
.header-infos  {
	background-color: #3e3e3e;
	color: white;
	min-height: 20px;
}
	.header-infos h3 {
		color: #e17221;
		
	}

/* welcome */

/* home*/

.content-block {
	padding-top:6px;
	background: white;
	border-radius:6px;
	margin-bottom: 10px;
	min-height: 50px;
}
	.content-block h2 {
		padding: 8px;
		text-transform: uppercase;
		font-weight: bold;
		color : black;
		margin-top: 10px;
		margin-right: 15px;
	}
	.content-block input[type=text] {
		border: 1px solid lightgrey;
		background: white;
	}
	.content-block .label-inline {
		display: inline-block !important;
	}
	
	.h2-block-orange { background-color: #ffb471; }
	.h2-block-blue { background-color: #8dc3ff; }
	.h2-block-grey { background-color: #f1f1f1; }
	.h2-block-darkgrey { background-color: #3e3e3e; color: white !important; }


	.left-block {
		float: left;
		width: 545px;
		margin-right: 10px;
	}
	
	.right-block {
		float: right;
		width: 545px;
	}


#recherche{
	width: 1100px;
	overflow: hidden;
	clear: both;
}
	#recherche form label {
		display: block;
		font-size: 1.0em;
		color: #6a6a6a;
		margin-bottom: 6px;
		margin-right: 20px;
	}
	
	/* gauche */
	#recherche-doc{
		float: left;
		width: 240px;
		margin: 15px;
		border-right: solid 1px lightgrey;
	}
		#recherche-doc input[type=text]{
			width: 200px;
		}
		#recherche-doc input[type=submit]{
			margin-left: 2px;
			margin-top: 8px;
		}
		
	/* droite */
	#recherche-sp{
		margin: 15px;
		margin-left: 240px;	
	}

		#recherche-sp select {
			padding: 5px;
			color: #636363;
			display: block;
			margin-bottom: 8px;
		}
		#recherche-sp input[type=submit]{
			float: right;
			margin-right: 6px;
			margin-top: 6px;
		}
		#recherche-sp input[type=checkbox]{
			display: inline-block;
			vertical-align: middle;
		}
	

.schedule-display {
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 8px;
	/*border-bottom: 1px solid #f1f1f1; */
}
	.schedule-display  img {
		display: inline-block;
		height: 64px;
		width: 64px;
		margin-left: 15px;
		vertical-align: top;
	}
	.schedule-display p { display: block; text-align: center; color: grey; padding: 10px; }
	
	.schedule-display-profil {
		display: inline-block;
		vertical-align: top;
		width: 447px;
		color: #3e3e3e;
		font-size: 1.0em;
	}
		
		.schedule-display-profil a {
			color: #2b7ede;
			font-size: 0.9em;
			text-decoration: underline;
		}
			.schedule-display-profil a:hover { color: grey; }
			
		.schedule-display-profil .profil-info {
			display: inline-block;
			width: 212px;
			padding: 5px 4px;
		}
			.schedule-display-profil .profil-info span { text-transform: uppercase; }
		.profil-info-right { text-align: right }
		
			.schedule-display-profil h3 {
				text-transform: uppercase;
			}
			.profil-info-title-orange { color: orange; }
			.profil-info-title-grey { color: grey; }
			
			.profil-info-sub {
				margin-top: 4px;
				background: #f1f1f1;
			}
			
			.profil-info-bold { font-weight: bold; }
			.profil-info-grey { color: grey; }
			.profil-info-small { font-size: 0.9em; }
		

#small-profiles {
	margin: auto;
	width: 520px;
	overflow: auto;
	text-align: center;
}
	#small-profiles .custom-button {
		float: right;
		margin: 15px;
		margin-right: 0px;
	}
	
	.small-profile {
		float: left;
		width: 130px;
		height: 150px;
		text-align: center;
		vertical-align: top;
		margin-top: 10px;
	}
		.small-profile a { color: #3e3e3e; }
		.small-profile a:hover { color: orange; }
		
		.small-profile div {
			margin: auto;
			padding: 4px;
			text-align: center;
		}
		.small-profile-name {
			color: #3e3e3e;
		}
			.small-profile-name span { text-transform: uppercase; }
		
		.small-profile-medicine {
			color: grey;
		}


/* search */










/* calendar */
#calendar {
	padding: 10px 0px;
}
	.calendar-item {
		width: 1100px;
		margin: auto;
		padding: 0;
		border-bottom: 1px solid #f1f1f1;
		overflow: hidden;
	}
	
	.calendar-day {
		float: left;
		width: 133px;
		height: 50px;
		background: #e4eff5;
		text-align: center;
		line-height: 3.5em;
	}
	.calendar-info-hours {
		height: 25px;
		margin-left: 0px;
		overflow: hidden;
		background: #e4eff5;
		margin-bottom: 1px;
	}
		.calendar-info-hour-first{ width: 133px; }
		.calendar-info-hour {
			height: 25px;
			float: left;
			font-size: 0.9em;
			line-height: 2.3em;
			/*width: 81px;*/
			color: #6c8d9c;
			border-right: 1px solid #e4eff5;
		}
	
	.calendar-hours {
		float: left;
		background-color: #f7f7f7;
		height: 50px;
	}
		.calendar-hour {
			display: inline-block;
			/*width: 80px;*/
			height: 50px;
			border-right: 1px solid #f1f1f1;
			position: relative;
			cursor: pointer;
		}
		.calendar-hour:hover {
			background: #f0f0f0;
		}

		
		.calendar-rdv {
			height: 50px;
			position: absolute;
		}
			.calendar-reserved {
				background: #ffa147;
			}
			.calendar-block {
				background: #c2c2c2;
			}


.special-button {
	background-color: #2a7edd;
	color: white;
}
	.special-button:hover { background-color: #2469b7; cursor: pointer; }
	.special-button img {
		display: inline-block;
		width: 26px;
		vertical-align: top;
		margin-top: 8px;
		margin-left: 8px;
	}
	.special-button p {
		display: inline-block;
		text-transform: uppercase;
	}
	
	





/*thibaud */

#welcome {
	background: white;
	border-radius: 6px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 10px 0px;
}
	#welcome h1 {
		font-size: 2.5em;
		padding: 8px;
		margin-bottom: 8px;
	}
	#welcome > span {
		display: block;
		color: grey;
		margin-bottom: 40px;
		margin-left: 10px;
	}
	
	#welcome p {
		display: block;
		width: 504px;
		margin: auto;
		padding: 8px;
		border: 1px solid lightgrey;
		background: #f1f1f1;
		border-radius: 6px;
		line-height: 1.5em;
	}
	
	#welcome form {
		margin: auto;
		width: 504px;
		overflow: auto;
		margin-top: 20px;
	}
		
		#welcome form label {
			margin-top: 10px;
			text-align: left;
			color: grey;
		}
		.formLine {
			display: inline-block;
			vertical-align: top;
			width: 250px;
			margin-top: 8px;
		}
			#welcome form > .formLine > input {
				width: 180px;
			}
			#welcome form > .formLine > select {
				padding: 5px;
				margin-top: 4px;
				width: 190px;
			}
			#welcome form > input[type=submit]{
				display: block;
				clear: both;
				margin: auto;
				margin-top: 30px;	
			}
			
		.formInline {
			display: block;
			margin-top: 10px;
			margin-bottom: 10px;
		}
			.formInline div {
				display: inline-block;
			}
			
			
/* Small-profile */
#small-profile {
	background: #3e3e3e;
}
	#small-profile .center {
		width: 1100px; 
		margin: auto;
		overflow: hidden; 
		padding: 10px 0px;
	}
	#small-profile-left {
		float: left; 
		text-align: center; 
		margin: auto; 
		width: 131px;
	}
		#small-profile-left .custom-button { margin: auto; margin-top: 10px;};
		#small-profile-left img {
			margin-bottom: 5px;
		}
	#small-profile-right {
		margin-left: 160px;
		overflow: hidden;
	}
		#small-profile-right h2 {
			color: white;
			font-size: 1.9em;
		}
		#small-profile-right dl {
			float: left;
			width: 300px;
			margin-top: 18px;
			margin-right: 30px;
		}
			#small-profile-right dt {
				display: inline-block;
				vertical-align: top;
				width: 170px;
				margin-bottom: 8px;
				color: grey;
			}
				
			#small-profile-right dd {
				display: inline-block;
				vertical-align: top;
				width: 130px;
				color: white;
				margin-bottom: 8px;
			}
				#small-profile-right .profile-empty {
					color: blue;
					text-decoration: underline;
				}
	
	
	
/* booking-selection */
#calendar-selection {
	background: white;
	box-shadow: 8px 8px 12px #aaa;
	border: 1px solid lightgrey;
	border-radius: 6px;
	padding: 5px; 
	position: absolute;
	left: 320px;
	display:none;
	overflow: hidden;
	width: 800px;
}
	#calendar-selection #close-btn {
		float: right;
		cursor: pointer;
		font-weight: bold;
	}
		#calendar-selection #close-btn:hover { color: orange; }
	
	.selection-duration {
		padding: 8px;
		text-align: center;
	}
	#calendar-selection .selection-links {
		display: inline-block;
		width: 95px;
		vertical-align: top;
		margin-top: 30px;
		text-align: center;
	}
	#calendar-selection #selection-hours {
		margin: auto;
		text-align: center;
		display: inline-block;
		width: 800px;
	}
		#calendar-selection .selection-part {
			display: inline-block;
			overflow: hidden;
		}
			#calendar-selection .selection-part-hour {
				background: #e4eff5;
				padding: 5px;
				text-align: left;
				color: #69a1c0;
				border: 1px solid #d3e1e8;
			}
			#calendar-selection .selection-part-content {
				height: 60px;
				border: 1px solid #d3e1e8;
				border-top: none;
				position: relative;
			}
			.selection-part-content-free { position: absolute; background-color: white; cursor: pointer; }
			.selection-part-content-blocked { position: absolute; background-color: grey; }
			.selection-part-content-scheduled { position: absolute; background-color: orange; height: 60px; }
	
	#calendar-selection p {
		color: grey;
		text-align: center;
		padding: 10px;
		line-height: 1.1em;
		font-size: 0.9em;
	}
	
/* BOOKING */
.booking-left {
	width: 360px;
	float: left;
	color: #3d3d3d;
	overflow: hidden;
}
	.custom-button { float: right; margin: 10px; }
	.booking-left form {
		float: right; margin: 10px;
	}
	.booking-left-profile {
		margin: 10px;
		margin-bottom: 20px;
	}
		.booking-left-profile img {
			display: inline-block;
			width: 90px;
			height: 90px;
			vertical-align: top;
		}
		.booking-left-profile > div {
			display: inline-block;
			vertical-align: top;
			margin-left: 10px;
		}
			.booking-left-profile > div > h3 {
				color: black;
				font-size: 1.25em;
				margin-bottom: 8px;
			}
				.booking-left-profile > div > h3 > span { text-transform: uppercase; font-size: 1.2em; }
				
			.booking-left-profile > div > div {
				color: grey;
			}
			.booking-left-profile > div > strong {
				display: block;
				margin-top: 15px;
				font-size: 1.5em;
				color: #2b7de0;
			}
			
	.booking-left-info {
		margin: 10px;
		padding-bottom: 5px;
	}
		.booking-left-info h4 {
			border-bottom: 1px solid #e3e3e3;
			color: #898989;
			padding-bottom: 3px;
			margin-bottom: 5px;
			margin-top: 10px;
		}
		.booking-left-info div {
			line-height: 1.2em;
		}
			.booking-left-info span {
				display: block;
				padding: 1px 0px;
			}


.booking-right {
	width: 730px;
	float: right;
	overflow: hidden;
}
	.booking-right p {
		padding: 10px;
		line-height: 1.3em;
	}
	
	.booking-right .special-button  {
		float: right;
		margin: 10px;
	}


#booking-calendar {

}
	#booking-calendar form label {
		display: block;
		font-size: 1.0em;
		color: #6a6a6a;
		margin-bottom: 6px;
		margin-right: 20px;
	}
	
	.recherche-a {
		float: left;
		width: 200px;
		margin: 15px;
		border-right: solid 1px lightgrey;
	}
		#booking-calendar .recherche-a .custom-submit { display: block; margin-top: 15px; }
		#booking-calendar .recherche-a input[type=date] {
			
		}
		
	.recherche-b {
		margin: 15px;
		margin-left: 200px;	
	}
		#booking-calendar .recherche-b .custom-submit { float: right; margin-top: 25px; }
		#booking-calendar .recherche-b .float-block {
			display: inline-block;
			margin-right: 10px;
			margin-top: 10px;
		}
		
#rdv-form {
	overflow: hidden;
}
	#rdv-form > * { padding: 10px; }
	#rdv-form p {
		color: #3e3e3e;
	}
	#rdv-form form #rdv-left, #rdv-form form #rdv-right{ float: left; }
	
	#rdv-form .custom-submit { float: right; margin: 10px 0px; }
	
	#rdv-form h3 {
		color: #2a7edd;
		text-transform: uppercase;
	}
		#rdv-form #rdv-left input, #rdv-form #rdv-left label { display: inline-block; }		
		
		#rdv-form #rdv-right {
			width: 700px;
			margin-left: 20px;
		}
		#rdv-right input { vertical-align: top; margin-right: 8px; }
		#rdv-right label {
			width: 670px;
			display: inline-block;
		}
		#rdv-right label {  }
		#rdv-form form textarea{ width: 100%; margin-top: 4px; min-height: 40px; }
	
	#rdv-form form > p{
		margin-bottom: 6px;
		color: black;
		background: #ffd9b7;
		width: 240px;
		padding: 8px;
	}
	#rdv-form form > p > strong{ font-weight: bold; }
	
	.rdv-note { color: grey; margin-top: 20px; line-height: 1.2em; }
	.rdv-note label { display: inline-block; }
	.rdv-note input { vertical-align: top; margin-right: 8px; }
	
	
/* SEARCH */
.search-profile {
	width: 355px;
	float: left;
	color: #3d3d3d;
	overflow: hidden;
	margin: 3px;
	border: 1px solid #f3f3f3;
	background: #FAFAFA;
}
	
	.search-profile .booking-left-profile > div > strong{
		margin-top: 10px;
		font-size: 1.2em;
	}

/* PROFILE */
.profile-right {

}
	.profile-right form {
		padding: 10px;
		text-align: center;
	}
		.profile-right form > div label {
			margin-top: 10px;
		}
		.profile-right form > div input {
			background: white;
			padding: 6px;
			border: 1px solid #d3d3d3;
		}
		
	.profile-right .custom-submit {
		margin-top: 15px;
	}
	
	.profile-right select {
		padding: 5px;
		margin-top: 4px;
		width: 150px;
	}



/* GESTION */
.gestion-menu {
	margin-bottom: 10px;
}

.form-padding {
	padding: 10px;
	overflow: hidden;
}
	.form-padding  label {
		margin-bottom: 5px;
	}
	.form-padding  input {
		margin-bottom: 10px;
		margin-top: 5px;
	}
	.form-padding  input[type=number] {
		text-align: center;
		width: 100px;
	}
	.form-padding textarea {
		width: 1050px;
		padding: 10px;
	}
	.form-padding .custom-submit {
		float: right;
		margin-top: 10px;
	}
	
.formBlock { 
	display: block;
}

	/* daily */
	.daily-search form{
		padding: 10px;
	}
		.daily-search form label {
			margin-bottom: 3px;
		}
		.daily-search .custom-submit { margin-left: 20px; }
	
	#daily-left {
		float: left;
		width: 200px;
		padding-bottom: 5px;
	}
		.daily-day {
			margin: 0px 5px;
			text-align: center;
			background: #f1f1f1;
			border: 1px solid #ebebeb;
			border-bottom: none;
		}
			.daily-day:hover {
				background : #8dbaee;
				cursor: pointer;
			}
			.daily-day a {
				display: block;
				color: black;
				padding: 14px 0px;
			}
			.daily-day-last {
				border-bottom: 1px solid #ebebeb;
			}
			.daily-day-selected {
				background: #2a7ede;
			}
			
			.daily-schedule {
				border: 1px solid lightgrey;
				padding: 10px;
				margin: 6px 10px;
				overflow: hidden;
				background-color: #f9f9f9;
				border-radius: 6px;
			}
				.daily-waiting {
					background-color: #ffeee2;
					border: 1px solid #efcbb0;
				}
				.daily-schedule-left {
					float: left;
					color: #2c2c2c;
				}
					.daily-schedule-left img {
						display: inline-block;
						height: 75px;
						margin-right: 10px;
					}
					.daily-schedule-left > div {
						display: inline-block;
						vertical-align: top;
					}
					.daily-schedule-left > div div{
						padding: 3px;
					}
					.daily-schedule-left div > strong > span {
						text-transform: uppercase;
					}
					.daily-schedule-left div > strong {
						font-size: 1.3em;
					}
				.daily-schedule-right {
					float: right;
					width: 500px;
				}
					.daily-schedule-right div {
						margin: 5px auto;
						background-color: #70bde2;
						padding: 6px;
						text-align: center;
					}
						.daily-schedule-small{ display: inline-block; width: 100px; color: white; }
						.daily-schedule-big { background-color: #d5e4ec !important;}
						
				.daily-schedule-links {
					text-align: right;
					border-top: 1px solid #f1f1f1;
					padding-top: 5px;
					margin-top: 5px;
				}
					.daily-schedule-links a{
						color: #2a7edd;
						margin-left: 15px;
					}
					.daily-schedule-links a:hover {
						color: grey;
					}
		
	#daily-right {
		float: right;
		width: 890px;
	}
	#daily-right .custom-button {
		
	}
		#daily-right .custom-button img {
			display: inline;
			vertical-align: top;
			margin-top: -3px;
			margin-right: 5px;
		}
		
	/* blockage */
	#number-weeks { display: none }
	
	.block-listing {
		display: block;
		padding: 5px;
		overflow: hidden;
		border-bottom: 1px solid #f1f1f1;
	}
		.block-listing a { float: right; color: grey; margin-right: 20px; padding: 4px; }
		.block-listing a:hover { color: #2a7edd; }
		
		.block-listing-item {
			float: left;
			padding: 4px;
			margin-right: 15px;
		}
		.block-listing p{
			display: block;
			margin-left: 10px;
			color: grey;
			padding: 8px;
		}



/* FAVORITE */
.favorite-block {
	width: 350px;
	float: left;
	margin-right: 10px;
}
	.favorite-block .custom-submit {
		float: right;
		margin: 10px;
	}
	.favorite-block .submit-generalist {
		float : left !important;
		margin-left: 10px;
	}
		.favorite-block .submit-generalist img {
			margin-right: 10px;
			margin-top: 15px;
		}
		.favorite-block .submit-generalist span {
			font-size: 0.9em;
			color: #4c9908;
			margin-top: 15px;
		}
		
		
/* ADMIN */
.liste-search {
	width: 1050px;
	margin: 20px auto;
}
	.liste-search tr {
		border-bottom: 1px solid #f3f3f3;
	}
		.liste-search th {
			padding: 10px 0px;
			background-color: #8dbaee;
			color: white;
			text-transform: uppercase;
		}
		.liste-search td {
			text-align: center;
			padding: 8px;
		}
	.liste-search a {
		color: grey;
	}
	.liste-search a:hover { color: #2a7edd; }
	
	.recherche {
		
	}
		.recherche form {
			padding: 10px;
		}
	
	
	
	
	
/* Seb */

/********************************/
/*  Menu de la page Alert.php   */
/********************************/
.menu_horizontal{
	padding: 10px;
	list-style: none;
	background-color: #70BDE2;
}

.menu_horizontal li {
	display: inline-block;
	width: 19.5%;
	text-decoration: none;
	text-align: center;
	position: relative;
}

.menu_horizontal a:hover{
	color:black;
}

#alertinfo{
	background-color: white;
	border-radius: 6px;
	padding-top: 10px;
	clear: both;
	width: 90%;
	margin: 10px auto;
	padding-bottom: 10px;
}

#alert-info-title{
	padding : 10px;
	background-color: #7DC9DF;
	margin: 2px auto;
	background-color: #70BDE2;
	font-size: 1.2em; 
}

#alert-info-title-lu{
	padding : 10px;
	background-color: #C0C0C0;
	margin: 2px auto;
	font-size: 1.2em; 
}

#alert-info-text{
	width: 95%;
	margin: 10px auto;
	word-wrap:break-word;
}

#alert-info-footer{
	display: table;
	width: 95%;
	margin: 0 auto;	
}
#alert-info-footer small{
	font-size: x-small;
}

#alert-info-date{
	display:table-cell;
	width: 800px;
	background-color: #f3f3f3;
	padding: 0px 10px;
}

#alert-info-sup{
	display: table-cell;
	text-align: center;
	width: 100px;
	background-color: #70BDE2;
}
	#alert-info-sup a { display: block; padding: 10px 10px;}
	#alert-info-sup a:hover { color: black; }

	
/* Alerte JS Admin */
#changePratician form { padding-top: 30px; }
#changePratician label { display: inline-block; padding: 10px;}
#changePratician input[type=radio] {
	display: inline-block;
	margin: auto;
	padding: 10px;
}